@use './media';
@use './theme';

a {
  color: inherit;
  text-decoration: none;
}

body {
  font-family: theme.$font-family-primary;
  font-size: theme.$font-size-medium;
  color: theme.$font-color-primary;
}
