$spacing-extra-large: 4.5rem;
$spacing-large: 2.5rem;
$spacing-semi-large: 2rem;
$spacing-regular-large: 1.75rem;
$spacing-regular: 1.5rem;
$spacing-semi-regular-large: 1.25rem;
$spacing-semi-regular-semi-large: 1.125em;
$spacing-semi-regular: 1rem;
$spacing-small: 0.75rem;
$spacing-smaller: 0.5rem;
$spacing-smallest: 0.25rem;
$line-height-primary: 128%;
$page-width-primary: 80%;

$z-index: (
  small: 200,
  medium: 300,
  large: 400,
);

$border-regular-component: solid 1px #686868;
$border-regular-image: solid 1px #b5cfaa;
$border-radius-small: 4px;
$border-radius-regular: 8px;
$border-radius-large: 12px;
$border-radius-circle: 50%;

$font-color-primary: #686868;
$font-color-secondary: #757575;
$font-family-primary: 'Alumni Sans', sans-serif;
$font-size-large: 1.75rem;
$font-size-semi-large: 1.5rem;
$font-size-medium: 1.25rem;
$font-size-semi-medium: 1.125rem;
$font-size-small: 1rem;
$font-weight-light: 200;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 800;

$color-branding-primary: #b5cfaa;
$background-color-primary: #f0f0f0;
$background-color-form-primary: #f4f4f4;
$background-color-button-hover-primary-: #444;
$border-color-input-primary: #ddd;
